<h1>店家頁面</h1>
<div class="index_img"><img src="https://pic.pimg.tw/enlife/1552641423-3637193736.jpg" alt=""></div>

<%# 讀取餐點所有資訊%>
<div class="container-fluid store_page">
  <div class="row">
    <div class="col-7">
      <div class="left-part">
        <div class="dish-list">
          <div class="row">
            <% @store.dishes.each do |dish| %>
            <div id="dish_id_<%= dish.id %>" class="col-6 dish-card">
              <div class="row">
                <div class="col-8 item-info">
                  <span class="dish_name"><%= dish.name %></span>
                  <span class="dish_price" value="<%= dish.price %>"><%= dish.price %></span><span>元</span>
                  <input id="add_dish_<%= dish.id %>" class="add_dish_to_cart" type="button" value="加入">
                </div>
                <div class="col-4 info">
                  <img src="https://cdn2.ettoday.net/images/525/d525095.jpg" alt="">
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="right-part">
        <div class="top-info">
          <div class="row">
            <h4><%= @store.name %> Page</h4>
            <img src="<%= @store.main_img %>">
          </div>
          <div class="row">
            <span>電話<%= @store.tel %></span>
            <span>地點<%= @store.location %></span>
            <span>店家資訊<%= @store.description %></span>
            <span>營業時間：<%= @store.business_hours[0].start_at.hour %> ~
              <%= @store.business_hours[0].end_at.hour %></span>
            <div>
              <div class="add_dish_list">
                <%# select取餐時間 %>
                <br /><b style="color:#00f;">pick_up_time:</b>
                <select>
                  <% pick_up_time.each do |time| %>                  
                    <option value="最快取餐時間"><%= time %></option>
                  <% end %>
                </select>
                <%= button_tag '確認送出', type: 'button', class: 'btn btn-primary', id: 'js-show-modal' %>
                <%# <input id="check_dish" class="check"type="button" value="總金額">   %>
                                  
                
              </div>
            </div>
          </div>
          <div class="row js-calc-rs"></div>
          <textarea id="Remark" type="textarea" placeholder="訂餐備註" style="width:300px;height: 100px;margin-top: 10px;"></textarea><br />
          
        </div>
      </div>
      <div class="modal js-modal" style="display:none;background-color:#ff0;">
        <%= form_tag admin_store_transactions_path(@store) do %>
          <%= fields_for :transaction_item do |r| %>
            <%= r.hidden_field 'dish_id_', id: 'js-dishes'%>
            <%= r.hidden_field 'dish_id_2', id: 'js-dishes'%>
          <%end%>
        
          
          <div class="js-calc-rs"></div>
          <button type="submit">送出訂單</button>
          <button onclick="$('.js-modal').hide();return false;">重新選擇</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  
let b = 1, total = 0, cart = {}
var fns = {
  add2cart: function(item) {
    var $item = $(item),
        id    = $item.attr('id').replace('add_dish_', ''),
        name  = $item.siblings('.dish_name:eq(0)').text(),
        price = parseFloat($item.siblings('.dish_price:eq(0)').text());
    if (typeof cart[id] == 'undefined') {
      cart[id] = {};
      cart[id]['name']  = name;
      cart[id]['price'] = price;
      cart[id]['count'] = 1;
    } else {
      cart[id]['count']++;
    }
  },
  sub2cart: function(item) {
    // if dish 存在
    //   若 count - 1 === 0，移除此dish
    //   若不是 直接 count - 1
    var $item = $(item),
          id    = $item.attr('id').replace('add_dish_', ''),
          name  = $item.siblings('.dish_name:eq(0)').text(),
          price = parseFloat($item.siblings('.dish_price:eq(0)').text());
      if (typeof cart[id] !== 'undefined') {
        if(cart[id]['count'] -1 === 0){
          // var index = id.toString();
          // console.log(index);
          delete cart[id];
        }else{
          cart[id]['count']--;
        }
      }     
  },
  
  buildCartList: function() {
    var msg = '<ul>';
    for(let idx in cart) {
      let item = cart[idx];
      msg += '<li>';
      msg += '<button class= "count-down" type="button" data-id="' + idx + '" > - </button>' + ' ';
      msg += item['count'] 
      msg += '<button class= "count-up" type="button" data-id="' + idx +'" > + </button>' + ' ';
      // msg += '  ' + '<div>' + item['name'] + '<div class="xx d-none">X</div></div>' + ' -- ' + (item['price']* item['count'] + '元');
      msg += '  ' + '<div>' + item['name'] + ' -- ' + (item['price'] * item['count'] + '元');
      msg += '</li>';
    }
    msg += '<li>總金額： ' + fns.cartTotal() + '</li>';
    msg += '</ul>';
    return msg;
  },
  cartTotal: function(){
    if (cart === {}) return 0;
    let total = 0;
    for(let idx in cart) {
      let item = cart[idx];
      total += item.price * item.count
    }
    return total;
  },
  cart2json: function(){
    let json = {};
    for(let idx in cart) {
      let item = cart[idx],
          id   = idx;
      // "{\"1\":2, \"2\":2}"
      // {1: 2} id:1 數量2
      json[id] = item['count'];
      // debugger
    }
    return JSON.stringify(json);
  }
}
$('.add_dish_to_cart').on('click',function(){
   fns.add2cart(this); 
   console.log('add_dish_to_cart');
   console.log(this);
   fns.buildCartList;
});


  $(".check,.add_dish_to_cart").on("click", function () {
    //$(".top-info").append("<p>共計"+ total +"元</p>");
    var $calc_rs = $('.js-calc-rs');
    console.log($calc_rs.html(fns.buildCartList));
    
  });

  $('#js-show-modal').click(function(){
    $('#js-dishes').val(fns.cart2json());
    $('.js-modal').show();
  });
  $('.js-calc-rs').on('click', '.count-up', function(){
    var $this    = $(this),
        id       = $this.data('id'),
        dish_dom = $('#add_dish_' + id).get(0);
    fns.add2cart(dish_dom);
    // 更新畫面
    $('.js-calc-rs').html(fns.buildCartList());
  })
  $('.js-calc-rs').on('click', '.count-down', function(){
    var $this    = $(this),
        id       = $this.data('id'),
        dish_dom = $('#add_dish_' + id).get(0);
    fns.sub2cart(dish_dom);
    $('.js-calc-rs').html(fns.buildCartList());
  })
</script>