<nav class="top-nav">
  <ul>
    <li><%= link_to  "Home page", root_path %></li>
    <% if user_signed_in? %>
      <li>Hi, <%= current_user.email %></li>
      <li><%= link_to "登出", destroy_user_session_path, method: 'delete', data: { confirm: '確定登出？' } %></li>
    <% else %>
      <li><%= link_to "登入", new_user_session_path %></li>
      <li><%= link_to "註冊", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>