<!-- 側邊功能列 -->
<aside class='CheckboxList col-md-3'>
  <%= link_to'取得位置?', address_path, class: 'color-btn btn mt-3 btn-sm col-md-12 btn-outline-secondary' %>
  <div class='form-group mt-3'>
    <label for='datetimepicker1' class='color-btn mb-0 btn-sm col-md-12 btn-outline-secondary'>取餐時間：</label>
    <div class='input-group date' id='datetimepicker1' data-target-input='nearest'>
      <input type='text' class='form-control datetimepicker-input' data-target='#datetimepicker1' value="<%= default_pick_up_time %>"/>
      <div class='input-group-append' data-target='#datetimepicker1' data-toggle='datetimepicker'>
        <div class='input-group-text'><i class='fa fa-calendar'></i></div>
      </div>
    </div>
  </div>
  <button class='color-btn btn mt-3 btn-sm col-md-12' type='button' data-toggle='collapse' data-target='#collapse'
    aria-expanded='false' aria-controls='collapse'>
    類別
  </button>
  <div class='collapse' id='collapse'>
    <div class='card-body'>
      <ul class='col-md-12 justify-content-center align-items-center'>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='option1'>
          <label class='form-check-label' for='inlineCheckbox1'>中式料理</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox2' value='option2'>
          <label class='form-check-label' for='inlineCheckbox2'>日式料理</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='option1'>
          <label class='form-check-label' for='inlineCheckbox1'>韓式料理</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox2' value='option2'>
          <label class='form-check-label' for='inlineCheckbox2'>越南料理</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='option1'>
          <label class='form-check-label' for='inlineCheckbox1'>西式料理</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox2' value='option2'>
          <label class='form-check-label' for='inlineCheckbox2'>義式料理</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='option1'>
          <label class='form-check-label' for='inlineCheckbox1'>元氣早餐</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox2' value='option2'>
          <label class='form-check-label' for='inlineCheckbox2'>漢堡</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='option1'>
          <label class='form-check-label' for='inlineCheckbox1'>牛排</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox2' value='option2'>
          <label class='form-check-label' for='inlineCheckbox2'>飲料</label>
        </li>
        <li class='form-check form-check-inline'>
          <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='option1'>
          <label class='form-check-label' for='inlineCheckbox1'>甜品</label>
        </li>
      </ul>
    </div>
  </div>
</aside>
<!-- 側邊功能列 結束 -->

<main class='col-md-9 justify-content-around row'>
  <!-- 排序搜尋功能區 -->
  <div class='tag-arear col-md-12 d-flex'>
    <div class='tag-arear-show col-md-10 d-flex justify-content-start align-items-start'>
      <button type='button' class=' color-btn btn-sm btn-outline-secondary' href='#support_me'>tag</button>
      <button type='button' class=' color-btn btn-sm btn-outline-secondary' href='#support_me'>tag</button>
      <button type='button' class=' color-btn btn-sm btn-outline-secondary' href='#support_me'>tag</button>
    </div>
    <div class='input-group-append col-md-2 d-flex'>
      <button class='color-btn btn btn-sm btn-outline-secondary dropdown-toggle' type='button'
        data-toggle='dropdown'>排序</button>
      <div class='dropdown-menu'>
        <a class='dropdown-item' href='#'>Action</a>
        <a class='dropdown-item' href='#'>Another action</a>
        <a class='dropdown-item' href='#'>Something else here</a>
      </div>
    </div>
  </div>
  <!-- 排序搜尋功能區 結束 -->

  <!-- Store list -->
  <section class='store__list d-flex justify-content-around'>
    <% if @stores.present? %>
      <% @stores.each do |store| %>
      <div class='store__list--item col-md-4 col-sm-6 mb-2 row'>
        <div class='card store__card'>
          <div class='store__card--img'>
            <% if store.main_img? %>
            <%= link_to image_tag(store.main_img_url, class: 'card-img-top'), store %>
            <% else %>
            <%= link_to image_tag('bg_default.jpg', class: 'card-img-top'), store %>
            <% end %>
          </div>
          <div class='card-body'>
            <h5 class='card-title'><%= store.name %></h5>
            <p class=''><%= store.tel %></p>
            <p class=''><%= store.description %></p>
            <%= link_to '進入店家', store, class: 'btn btn-info' %>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
      <div class="search-message">
        <p>
          很抱歉，查無商店 :(
        </p>
      </div>
    <% end %>
  </section>
  <!-- Store list End -->
</main>

<script type='text/javascript'>
  $(function () {
    $('#datetimepicker1').datetimepicker({
      format: 'YYYY/MM/DD HH:mm'
    });
  });
</script>