<h1>商家列表</h1>
<% if user_signed_in? %>
  <%#= link_to "我的商店", admin_store_path(), class: 'btn btn-info' %>
  
  <%= link_to "建立商店", new_admin_store_path, class: 'btn btn-info' %>
<% end %>
<div class="store-list container d-flex flex-wrap justify-content-center">
  <% @stores.each do |store| %>
    <div class="store-card card col-4">
      <div class="card-img">
        <!-- <img src="https://picsum.photos/300/200/?random1" alt="圖片說明"> -->
        <%= image_tag store.main_img_url, class: 'card-img-top' if store.main_img? %>
      </div>
      <div class="info">
        <div class="store-detail">
          <h2><%= store.name %></h2>
          <p>描述：<%= store.description %></p>
          <p>地址：<%= store.location %></p>
          <p>電話：<%= store.tel %></p>
          <%= link_to "查看", admin_store_path(store), class: 'btn btn-info' %>
          <%= link_to "編輯商店", edit_admin_store_path(store), class: 'btn btn-warning' if policy(store).edit? %>
          <%= link_to "關店", admin_store_path(store), method: 'delete', class: 'btn btn-danger' if policy(store).destroy? %>
        </div>
      </div>
    </div>
  <% end %>
</div>

