<div class='orders__card--info'>
  <p>訂單編號：<%= t.serial_number %> ｜ 訂單狀態：<%= t.state %> ｜ 預計取餐時間：<%= t.pick_up_time %></p>
  <p>商店名稱：<%= t.store.name %> ｜ 聯絡電話：<%= t.store.tel %></p>
  <p>訂單備註：<%= t.description %></p>
</div>
<div class='orders__card--items__list row col-12'>
  <% t.transaction_items.each do |ti| %>
    <div class='transaction_items__detail'>
    <p>
      <span><%= ti.dish.name %>（<%= ti.item_price.round %>元）* <%= ti.dish_count %> 份</span> |
    </p>
  </div>
  <% end %>
  <p class='row col-12'><strong>應收總額：<%= t.total_price %></strong></p>
</div>
<div class='orders__card--function_buttons row col-12 mb-2'>

  <!-- WIP consider moving links to different action from admin/transaction -->
  <%= link_to '接受', act_admin_transaction_path(t, act: 'accept'), method: 'patch', remote: true, class: 'btn btn-success mr-2' if t.may_accept? %>
  <%= link_to '修改', act_admin_transaction_path(t, act: 'modify'), method: 'patch', remote: true, class: 'btn btn-warning mr-2' if t.may_modify? %>
  <!-- TODO add cancel function -->
  <%= link_to '取消', act_admin_transaction_path(t, act: 'cancel'), method: 'patch', remote: true, class: 'btn btn-danger mr-2' if t.may_reject? %>
  <%= link_to '取餐/結案', act_admin_transaction_path(t, act: 'pick'), method: 'patch', remote: true, class: 'btn btn-info' if t.may_pick? %>
</div>