<h2>忘記密碼？</h2>
<p>請輸入註冊使用的電話或 Email</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <!-- 停用 devise 內建錯誤訊息   -->
  <%#= render "devise/shared/error_messages", resource: resource %>
    
  <%= error_block(resource) %>
  <div class="field">
    <%= f.label :phone, "電話" %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "重置密碼" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
