<div class="orders__card--info">
  <!-- TODO 加入狀態下拉選單 -->
  <%# byebug %>
  <p>訂單編號：<%= t.serial_number %> ｜ 訂單狀態：<%= t.state %> ｜ 預計取餐時間：<%= t.pick_up_time %></p>
  <p>客戶名稱：<%= t.user.name %> ｜ 聯絡電話：<%= t.user.phone %></p>
  <p>訂單備註：<%= t.description %></p>
  <%= render "function_buttons", t: t %>
</div>
<div class="orders__card--items">
  <% t.transaction_items.each do |ti| %>
  <div class="transaction_items__card">
    <p>
      <span><%= ti.dish.name %> （<%= ti.item_price.round %>元）* <%= ti.dish_count %> 份</span> |
      <span>小計：<%= ti.item_price.round * ti.dish_count %>元</span>
    </p>
    <p><strong>應收總額：<%= t.total_price %></strong></p>
  </div>
  <% end %>
</div>
