<div class="dishes__card--desc">
  <p><%= @dish.name %></p>
  <p><%= @dish.price %></p>
</div>
<div class="dish__img">
  <%= image_tag @dish.main_img_url if @dish.main_img? %>
</div>
<div class="dishes__card--btn">
  <%= link_to fa_icon('edit'), edit_admin_dish_path(@dish), remote: true, class: 'btn btn-sm btn-warning btn--function edit-btn' if policy(@store).edit? %>
  <%= link_to fa_icon('trash'), admin_dish_path(@dish), method: 'delete', remote: true, data: { confirm: '確認刪除商品？' }, class: 'btn btn-sm btn-danger btn--function trash-btn' if policy(@store).edit? %>
</div>