<%#= form_for @dish, url: url, method: method, html: { remote: true, class: 'add_dish_form form-control-sm' } do |f| %>
<!-- refactor with form_with -->
<%= form_with model: @dish, url: url, method: method, class: 'add_dish_form form-control-sm' do |f| %>

<div class="dish--name">
  <%= f.label :name, "名稱：" %>
  <%= f.text_field :name %>
  <%= f.label :state, "販售中？" %>
  <%= f.check_box :state %>
</div>
<div class="dish--price">
  <%= f.label :price, "價格：" %>
  <%= f.text_field :price %>
</div>
<div class="dish--img">
  <%= f.label :main_img, "商品圖片：" %>
  <%= f.file_field :main_img %>
</div>
<div class="dish--time">
  <%= f.label :prepare_time, "準備時間（分鐘）：" %>
  <%= f.number_field :prepare_time, in: 1..60, step: 0.5 %>
</div>
<%= f.submit "確認", class: 'btn btn-success' %>
<%= link_to '取消', cancel_admin_dish_path(@dish), remote: true, class: 'btn btn-danger' %>
<span id="helpBlock" class="help-block error_messages"></span>
<% end %>