<%#= error_block(@dish) %>
<%= form_for [:admin, @dish], html: { remote: true, class: 'add_dish_form form-control-sm' } do |f| %>

<div class="dish--name">
  <%= f.label :name, "名稱：" %>
  <%= f.text_field :name %>
  <%= f.label :state, "販售中？" %>
  <%= f.check_box :state %>
</div>
<div class="dish--price">
  <%= f.label :price, "價格：" %>
  <%= f.text_field :price %>
</div>
<div class="dish--img">
  <%= f.label :main_img, "商品圖：" %>
  <%= f.file_field :main_img %>
</div>
<div class="dish--time">
  <%= f.label :prepare_time, "準備時間（分鐘）：" %>
  <%= f.number_field :prepare_time, in: 1..60, step: 0.5 %>
</div>
<%= f.submit "確認", class: 'btn btn-success'%>
<span id="helpBlock" class="help-block error_messages"></span>
<% end %>