<div class="sign-up"> 
  <h2>註 冊</h2>
  <div class="sign-up-list"> 
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <!-- 停用 devise 內建錯誤訊息   -->
      <%#= render "devise/shared/error_messages", resource: resource %>
      
      <%= error_block(resource) %>
      <div class="field">
        <%= f.label :phone, "電話(十位數字) *必填" %><br />
        <%= f.text_field :phone, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "密碼" %>
        <% if @minimum_password_length %>
        <em>(長度最少<%= @minimum_password_length %>個字)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "再次確認密碼" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "註冊" %>
      
    

      <%= render "users/shared/links" %>
    </div>
    <% end %>
  </div>  
</div>